
<div class="searchRow clearfix">
    <div class="left mr15">
        <label>通知标题：</label>
        <input type="text" placeholder="通知标题" class="width150" ng-model="Title" />
    </div>
    <div class="left">
        <label>状态：</label>
        <select class="width140" ng-model="Status" ng-options="m.code as m.name for m in wxStatus"></select>
     
    </div>
    <div class="left">
        <button class="btnGreen ml65" ng-click="search();">查询</button>
        <button ng-show="showAddBtn.show" class="btnGreen" ng-click="createNotification();">添加</button>
    </div>
</div>

<div class="grayLine"></div>

<table class="tableBox" border="1">
    <thead>
    <tr>        
        <th>内容标题</th>
        <th>作者</th>
        <th>状态</th>
        <th>发布时间</th>
        <th>更新时间</th>
        <th>操作</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="item in roomList">
        <td style="word-wrap:break-word;" width="20%">{{item.Title}}</td>
        <td style="word-wrap:break-word;" width="10%">{{item.Aurthor}}</td>
        <td style="word-wrap:break-word;" width="5%" ng-if="item.Status==0">未发布</td>
        <td style="word-wrap:break-word;" width="5%" ng-if="item.Status==1">已发布</td>
        <td style="word-wrap:break-word;" width="10%">{{item.PublishTime}}</td>
        <td style="word-wrap:break-word;" width="10%">{{item.ModifyTime}}</td>
        <td style="word-wrap:break-word;" width="10%">
            <button ng-click="publish(item);" ng-show="item.Status==0">发布</button>
            <button ng-click="edit(item);" ng-show="item.Status==0">修改</button>
        </td>
    </tr>
    </tbody>
</table>

<div class="pagingContainer clearfix">
    <paging get-url="getUrl" callback-fn="directiveCallBack"></paging>
</div>
