<div class="searchRow clearfix">
    <div class="left mr15">
        <label>问卷标题：</label>
        <input type="text" placeholder="问卷标题" class="width150" ng-model="Title" />

    </div>
    <div class="left mr15">
        <label>状态：</label>
        <select class="width140" ng-model="statusID" ng-options="m.code as m.name for m in wxStatus"></select>
    </div>
</div>

<div class="mt10">
    <button class="btnGreen ml65" ng-click="search();">查询</button>
    <button  class="btnGreen" ng-click="createHomework();">创建问卷</button>
</div>

<div class="grayLine"></div>

<!--<div class="mt10 tr">-->
<!--<button class="nextBtn">上一页</button>-->
<!--<button class="nextBtn">下一页</button>-->
<!--</div>-->

<table class="tableBox" border="1">
    <thead>
    <tr> 
        <th>问卷编码</th>
        <th>问卷标题</th>
        <th>状态</th>
        <th>发布时间</th>
        <th>结束时间</th>
        <th>修改时间</th>
        <th>操作</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="item in List">
        <td style="word-wrap:break-word;" width="6%">{{item.ID}}</td>
        <td style="word-wrap: break-word; word-break: break-all;" width="15%">{{item.Title}}</td>     
        <td style="word-wrap:break-word;" width="5%">{{item.StatusName}}</td>
        <td style="word-wrap:break-word;" width="5%">{{item.PublishTime}}</td>
        <td style="word-wrap:break-word;" width="5%">{{item.FinishTime}}</td>
        <td style="word-wrap:break-word;" width="5%">{{item.ModifyTime}}</td>
        <td width="10%">
            <button ng-click="publish(item);" ng-show="item.Status==0&&item.HomeworkType==1" style="width:30px;">发布</button>
            <button ng-click="edit(item);" ng-show="item.Status==0" style="width:30px;">修改</button>
            <button ng-click="delete(item);" ng-show="item.Status==0" style="width:30px;">删除</button>
            <button ng-click="detail(item);" ng-show="item.Status==1" style="width:30px;">详情</button>
            <button ng-click="previewItem(item);" ng-show="Type==1" style="width:30px;">预览</button>
        </td>
    </tr>
    </tbody>
</table>

<div class="pagingContainer clearfix">
    <paging get-url="getUrl" callback-fn="directiveCallBack"></paging>
</div>


<script type="text/ng-template" id="questionPreviewTmpl">

    <div class="dialog_title">
        {{popTitle}}
    </div>
    <div class="ui-dialog-content">
        <div class="clearfix">

            <table class="tableBox" border="1">
                <tbody>
                    <tr ng-repeat="question in questionList">
                        <td style="word-wrap:break-word;" width="10%">
                            <div class="clearfix" >
                                <div class="searchRow clearfix">
                                    <div class="left">
                                        <label>{{question.Code}}.{{question.Title}}</label>  
                                    </div>
                                </div>     
                                <div class="searchRow clearfix" ng-if="question.Restype==1">
                                    <div class="left">
                                        <img ng-src="{{question.ResourceURL}}" style="width:300px;min-height:80px;">
                                    </div>
                                </div>          
                                <div class="searchRow clearfix" ng-if="question.Restype==2">
                                    <div class="left">
                                        <audio ng-src="{{question.ResourceURL | trustedRes}}" controls="controls"></audio>
                                    </div>
                                </div>          
                                <div class="searchRow clearfix" ng-if="question.Restype==3">
                                    <div class="left">
                                        <video ng-src="{{question.ResourceURL | trustedRes}}" controls="controls">
                                            您的浏览器不支持 video 标签。
                                        </video>
                                    </div>
                                </div>                                    
                            </div>
                            <div class="clearfix" >
                                <div class="searchRow clearfix" ng-repeat="it in question.QuestionItems">
                                    <div class="left">
                                        <label>{{it.Mark}}.{{it.Content}}</label>                                       
                                    </div>
                                </div>
                            </div>
                        </td>                       
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="clearfix" style="text-align:center;margin-top:10px;">
            <button type="button" class="btnRed" style="width: 15%; font-size: 18px;min-height:30px;"
                    ng-click="closeThisDialog()">
                关闭
            </button>
        </div>
    </div>

</script>