
<div class="searchRow clearfix">
    <div class="left mr15">
        <label>教师姓名：</label>
        <input type="text" placeholder="教师姓名" class="width150" ng-model="Name" />
    </div>

    <div class="left">
        <button class="btnGreen ml65" ng-click="search();">查询</button>
        <button ng-show="showAddBtn.show" class="btnGreen" ng-click="create();">添加教师</button>
    </div>
</div>

<div class="grayLine"></div>

<table class="tableBox" border="1">
    <thead>
    <tr>        
        <th>姓名</th>
        <th>电话</th>
        <th>简介</th>
        <th>创建时间</th>
        <th>更新时间</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="item in List">        
        <td style="word-wrap:break-word;" width="15%"><a ng-click="edit(item);">{{item.Name}}</a></td>
        <td style="word-wrap:break-word;" width="10%">{{item.Tel}}</td>
        <td style="word-wrap:break-word;" width="30%">{{item.Intro}}</td>
        <td style="word-wrap:break-word;" width="10%">{{item.CreateTime}}</td>
        <td style="word-wrap:break-word;" width="10%">{{item.ModifyTime}}</td>
    </tr>
    </tbody>
</table>

<div class="pagingContainer clearfix">
    <paging get-url="getUrl" callback-fn="directiveCallBack"></paging>
</div>
