<div class="navigation">我的应用 > 公众账号管理 > 菜单维护</div>


<div>
    <div class="searchRow clearfix">
        <div class="left">
            <label>名称：</label>
            <input type="text" maxlength="60" class="width200" ng-model="Name" />
        </div>
    </div>
    <div class="searchRow clearfix">

        <div class="left mr15">
            <label>跳转地址：</label>
            <input type="text" maxlength="100" class="width200" ng-model="URL" />
        </div>
    </div>

</div>

<div class="mt10" ng-show="showButton">
    <button class="btnGreen" ng-click="createAccountMenu();">保存提交</button>
</div>