

<div class="navigation">我的应用 > 密码修改 </div>
<div class="editPassword clearfix">
    <div class="mt10 ml28">
        <label>请输入旧密码：</label>
        <input type="password" class="width220" ng-model="jmm"/>
    </div>
    <div class="mt10 ml28">
        <label>请输入新密码：</label>
        <input type="password" class="width220" ng-model="xmm1"/>
    </div>
    <div class="mt10">
        <label>请重新输入新密码：</label>
        <input type="password" class="width220" ng-model="xmm2"/>
    </div>
    <div class="mt10 ml65">
        <button class="btnGreen ml65" ng-click="resetPwd();">修改密码</button>
    </div>
</div>