<div class="header" ng-show="$root.rootShow">
    <h2>安全教育平台</h2>
    <div class="headUserInfo">
        <span class="">{{$root.userName}}</span>，<span ng-click="logout();">退出</span>｜<span>{{role}}</span>
    </div>
</div>

<div class="navbar" ng-show="$root.rootShow">
    <ul>
        <!--<li ng-click="c1();" class="{{$root.cls1}}" ui-sref="safeRoom.templateList">安全教室</li>-->
        <!--<li ng-click="c2();" class="{{cls2}}" ui-sref="courseware.list">课件管理</li>-->
        <li ng-click="c3();" class="{{$root.cls3}}" ui-sref="roomManage.roomList">培训机构管理系统</li>
    </ul>
</div>

<div ui-view=""></div>