<!--<div class="loginBg">-->
    <!--<div class="loginLogo">教育机构平台</div>-->

    <!--<div class="loginBox">-->
        <!--<div class="loginUser clearfix">-->
            <!--<img src="resource/images/userIcon.jpg"/>-->
            <!--<input type="text" class="loginInput" placeholder="请输入用户名" ng-model="name"/>-->
        <!--</div>-->

        <!--<div class="loginPassword clearfix">-->
            <!--<img src="resource/images/password.jpg"/>-->
            <!--<input type="password" class="loginInput" placeholder="请输入密码" ng-model="pwd"/>-->
        <!--</div>-->

        <!--<div class="loginBtn" ng-click="login();">登 录</div>-->

        <!--<p class="loginError" ng-show="error">{{errorMsg}}</p>-->

        <!--&lt;!&ndash;<button class="btnRed" ng-click="changeLogin();">切换到安全教室登录</button>&ndash;&gt;-->
    <!--</div>-->
<!--</div>-->


<!--<div class="wrap">-->
    <!--<p class="text">安全教育平台</p>-->
    <!--<div class="box">-->
        <!--<input type="text" placeholder="请输入用户名" ng-model="name" style="display: block;margin-top: 30px;" id="uname"/>-->
        <!--<input type="password" placeholder="请输入密码" ng-model="pwd" style="display: block;margin-top: 30px;" id="pwd"/>-->
        <!--<button ng-click="login();" class="loginS">登录</button>-->
    <!--</div>-->
<!--</div>-->

<div class="login-header-wrap"><div class="login-header"><a href="javascript:;"><img src="../../resource/images/logo.jpg" width="310" height="70" alt="安立方"></a></div></div>
<!-- main -->
<div class="login-wrap">
    <div class="login-banner">
        <div class="login-main">
            <div class="login-inputs">
                <input type="text" placeholder="请输入用户名" ng-model="name">
                <input type="password" placeholder="请输入密码" ng-model="pwd" id="pwd">
            </div>
            <!--<div class="out-login"><input type="checkbox">自动登录</div>-->
            <div class="login-btn"><a ng-click="login();">登 录</a></div>
            <a style="float: right;margin-top: 3px;margin-right: 9px;" target="_blank" href="/Module/login/forget.html">找回密码</a>
        </div>
    </div>
</div>
<!-- footer -->
<div class="login-footer">
    <p><span>网站备案:京ICP备12007931号-5</span><span>京公安网备 110105012777</span><span>版权所有©2015</span></p>
    <p><span>北京森霖木教育科技股份有限公司官网</span><span>技术支持: 大唐互联网+</span></p>
</div>